* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  text-decoration: none;
}

.containar {
  height: 100vh;
}

.header {
  background-color: lightgreen;
  height: 11%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0px 10px;
  
}

.header__logo {
  font-size: 40px;
  font-family: serif;
  text-align: center;
}

.header__menu {
  display: flex;
 flex-direction: row;
  gap: 5rem;
  font-size: 25px;
}

.header__menu-1 a, .header__menu-2 a, .header__menu-3 a {
  text-decoration: none;
  color: black;
}

.header__menu-1 a:hover, .header__menu-2 a:hover, .header__menu-3 a:hover {
  
  background-color: black;
  color: white;
  border-radius: 15px;
  padding: 5px;
  font-size: 1.5rem;
}

.main__photos {
  background-color: black;
  height: max-content;
  width: 100%;
}

.photos {
  width: 98.999%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.photos__row-1, .photos__row-2, .photos__row-3 {

  display: flex;
  flex-direction: column;
}

.photo {
  margin: 10px 5px;
  image-rendering: optimizeQuality;
  width: 99%;
}

@media (max-width:768px) {

  .header__logo {
    font-size: 35px;
  }

  .header__menu {
    gap:3rem
  }
  .header__menu-1 a, .header__menu-2 a, .header__menu-3 a {
    font-size: 20px;
    
  }
  .footer__copyright p {
    font-size: 20px;
  }
}

@media (max-width:680px) {

  .header__logo {
    font-size: 25px;
  }

  .header__menu {
    gap:1rem
  }
  .header__menu-1 a, .header__menu-2 a, .header__menu-3 a {
    font-size: 20px;
    
  }
  .footer__copyright p {
    font-size: 15px;
  }
}

@media (max-width:480px) {

  .header {
      gap: 30px;

  }
  .header__logo {
    font-size: 25px;
  }

  .header__menu {
    gap:1rem;
  }
  .header__menu-1 a, .header__menu-2 a, .header__menu-3 a {
    font-size: 20px;
    
  }
  .footer__copyright {
    display: none;
  }
  .footer__media {
    justify-content: space-between;
  }
   
  .photos {
    flex-direction: column;
    align-items: flex-start;
    
  }
}

@media (max-width:406px) {



  
  .header {
    height: 10%;
    justify-content: space-between;
    margin: 0px;
    gap: 0px;
  }
  .header__logo {
    font-size: 20px;
    padding: 30px;
    margin: 0px;
    
  }

  .header__menu {
   gap:15px;
    
  }
  .header__menu-1 a, .header__menu-2 a, .header__menu-3 a {
    font-size: 15px;
    
  }

  .footer__copyright{
    display: none;
  }
   
  .photos {
    flex-direction: column;
    align-items: flex-start;
    
  }
}

@media (max-width:370px) {



  
  .header {
    height: 10%;
    justify-content: center;
    margin: 0px;
   
  }
  .header__logo {
    font-size: 35px;
    align-self: center;
   
  }

  .header__menu {
   display: none;
    
  }
  .header__menu-1 a, .header__menu-2 a, .header__menu-3 a {
    font-size: 15px;
    
  }

  .footer__copyright{
    display: none;
  }
   
  .photos {
    flex-direction: column;
    align-items: flex-start;
    
  }

}